<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child>
    <div class="outmost">
      <section class="chatter">
        <h1>Lorem Ipsum</h1>
        <p>The map below shows how districts fare when ranked by a ratio that divides their percentage of teachers of color by their percentage of students of color. The closer the district is to “1,” the more its teachers reflect the demographics of its students.</p>
      </section>
       
    <div class="flex-container">
      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map lat="47.35" lng="-121.0" zoom=7>
            <tile-layer layer="cartoPositron"></tile-layer>

          </leaflet-map>

        </div>
        <aside class="legend">
          <div class="key"></div>
            </aside>
          </div>

          <div class="tabs">
            <hr>
            <div class="allDistrict selected tab"><b>ALL STUDENTS OF COLOR</b></div>
            <div class="tab">Asian</div>
            <div class="tab">Black</div>
            <div class="tab">Latino</div>
            <div class="tab">Multiracial</div>
            <div class="tab">Native</div>
            <div class="tab">Pacific Islander</div>
            <hr>
            <div class="tab">White</div>

      <div class="source">Note: XXXX <br>Source: Office of Superintendent of Public Instruction
        <span class="credit">EMILY M. Eng / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
