<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child>
    <div class="outmost">
    <div class="flex-container">
      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map lat="47.35" lng="-121.0" zoom=7>
            <tile-layer layer="cartoPositron"></tile-layer>

          </leaflet-map>

        </div>
        <aside class="legend">
          <div class="key"></div>
            </aside>
          </div>

          <div class="tabs">
            <hr>
            <div class="allDistrict selected tab"><b>ALL STUDENTS OF COLOR</b></div>
            <div class="tab">Asian</div>
            <div class="tab">Black</div>
            <div class="tab">Hispanic/Latino</div>
            <div class="tab">Multiracial</div>
            <div class="tab">Native American/Alaska Native</div>
            <div class="tab">Pacific Islander/Native Hawaiian</div>
            <hr>
            <div class="tab">White</div>

      <div class="source">Note: Data is from the 2017-18 school year and only includes certificated classroom teachers who chose to identify their race. <br>Source: Office of Superintendent of Public Instruction
        <span class="credit">EMILY M. Eng / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
