<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat aliquam lectus vitae porttitor. Donec euismod sem dui, ac gravida sem mattis sed. Fusce porttitor accumsan sem elementum convallis. Nam id augue lobortis, laoreet magna non,
          sodales risus. </p>
      </section>

      <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">

          <leaflet-map zoom=7>
            <tile-layer layer="cartoPositron"></tile-layer>

          </leaflet-map>

        </div>
        <aside class="legend">
          <h1>Teacher-student diversity index</h1>
          <ul class="scale">
            <li>
              <span class="block" style="background-color: #7f0000"></span> .76-1.0</li>
            <li>
              <li>
              <span class="block" style="background-color: #d7301f"></span> .51-.75</li>
            <li>
              <span class="block" style="background-color: #fc8d59"></span> .26-.50</li>
            <li>
              <span class="block" style="background-color: #fdbb84"></span> 0.01-.25</li>
            <li>
              <span class="block" style="background-color: #fee8c8"></span> 0</li>
            <li>
              <span class="block" style="background-color: #d9d9d9"></span> Districts 100 students or less</li>
          </ul>
        </aside>
      </div>


      <div class="source">Source: Name of source
        <span class="credit">XXX XXX / THE SEATTLE TIMES</div>
    </div>
  </responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
